**1.-Determine el ciclo o periodo de vida de los siguientes generadores congruenciales**

In [27]:
from prettytable import PrettyTable

def tabla(iteraciones, x0, a, b, m):
    #Iniciamos la tabla con los encabezados "Iteración" y "xn"
    t = PrettyTable(["Iteración", "xn"])
    #Configuramos el valor inicial para xn
    xn = x0
    #Definimos la formula
    funcion = lambda x: (a * x + b) % m
    #Iteramos hasta que 'iteraciones' sea igual al número de iteraciones solicitadas
    for i in range(iteraciones):
        xn1 = funcion(xn) #Calculamos el siguiente valor de xn
        t.add_row([i + 1, xn]) #Añadimos los valores de las iteraciones y los xn a la tabla
        xn = xn1 #Actualizamos el valor de xn para la siguiente iteración

    return t

a) $$x_{j+1}=(21x_j+15)mod(31)\hspace{0.5cm}con\hspace{0.5cm}x_0=21$$

In [28]:
tabla(32, 21, 21, 15, 31)

+-----------+----+
| Iteración | xn |
+-----------+----+
|     1     | 21 |
|     2     | 22 |
|     3     | 12 |
|     4     | 19 |
|     5     | 11 |
|     6     | 29 |
|     7     | 4  |
|     8     | 6  |
|     9     | 17 |
|     10    | 0  |
|     11    | 15 |
|     12    | 20 |
|     13    | 1  |
|     14    | 5  |
|     15    | 27 |
|     16    | 24 |
|     17    | 23 |
|     18    | 2  |
|     19    | 26 |
|     20    | 3  |
|     21    | 16 |
|     22    | 10 |
|     23    | 8  |
|     24    | 28 |
|     25    | 14 |
|     26    | 30 |
|     27    | 25 |
|     28    | 13 |
|     29    | 9  |
|     30    | 18 |
|     31    | 21 |
|     32    | 22 |
+-----------+----+

b) $$x_{j+1}=(13x_j+9)mod(128)\hspace{0.5cm}con\hspace{0.5cm}x_0=7$$

In [ ]:
tabla(129, 7, 13, 9, 128)

+-----------+-----+
| Iteración |  xn |
+-----------+-----+
|     1     |  7  |
|     2     | 100 |
|     3     |  29 |
|     4     |  2  |
|     5     |  35 |
|     6     |  80 |
|     7     |  25 |
|     8     |  78 |
|     9     | 127 |
|     10    | 124 |
|     11    |  85 |
|     12    |  90 |
|     13    |  27 |
|     14    | 104 |
|     15    |  81 |
|     16    |  38 |
|     17    | 119 |
|     18    |  20 |
|     19    |  13 |
|     20    |  50 |
|     21    |  19 |
|     22    |  0  |
|     23    |  9  |
|     24    | 126 |
|     25    | 111 |
|     26    |  44 |
|     27    |  69 |
|     28    |  10 |
|     29    |  11 |
|     30    |  24 |
|     31    |  65 |
|     32    |  86 |
|     33    | 103 |
|     34    |  68 |
|     35    | 125 |
|     36    |  98 |
|     37    |  3  |
|     38    |  48 |
|     39    | 121 |
|     40    |  46 |
|     41    |  95 |
|     42    |  92 |
|     43    |  53 |
|     44    |  58 |
|     45    | 123 |
|     46    |  72 |
|     47    |  49 |
|     48    |  6  |
|     49    |  87 |
|     50    | 116 |
|     51    | 109 |
|     52    |  18 |
|     53    | 115 |
|     54    |  96 |
|     55    | 105 |
|     56    |  94 |
|     57    |  79 |
|     58    |  12 |
|     59    |  37 |
|     60    | 106 |
|     61    | 107 |
|     62    | 120 |
|     63    |  33 |
|     64    |  54 |
|     65    |  71 |
|     66    |  36 |
|     67    |  93 |
|     68    |  66 |
|     69    |  99 |
|     70    |  16 |
|     71    |  89 |
|     72    |  14 |
|     73    |  63 |
|     74    |  60 |
|     75    |  21 |
|     76    |  26 |
|     77    |  91 |
|     78    |  40 |
|     79    |  17 |
|     80    | 102 |
|     81    |  55 |
|     82    |  84 |
|     83    |  77 |
|     84    | 114 |
|     85    |  83 |
|     86    |  64 |
|     87    |  73 |
|     88    |  62 |
|     89    |  47 |
|     90    | 108 |
|     91    |  5  |
|     92    |  74 |
|     93    |  75 |
|     94    |  88 |
|     95    |  1  |
|     96    |  22 |
|     97    |  39 |
|     98    |  4  |
|     99    |  61 |
|    100    |  34 |
|    101    |  67 |
|    102    | 112 |
|    103    |  57 |
|    104    | 110 |
|    105    |  31 |
|    106    |  28 |
|    107    | 117 |
|    108    | 122 |
|    109    |  59 |
|    110    |  8  |
|    111    | 113 |
|    112    |  70 |
|    113    |  23 |
|    114    |  52 |
|    115    |  45 |
|    116    |  82 |
|    117    |  51 |
|    118    |  32 |
|    119    |  41 |
|    120    |  30 |
|    121    |  15 |
|    122    |  76 |
|    123    | 101 |
|    124    |  42 |
|    125    |  43 |
|    126    |  56 |
|    127    |  97 |
|    128    | 118 |
|    129    |  7  |
+-----------+-----+

c) $$x_{j+1}=(17x_j)mod(31)\hspace{0.5cm}con\hspace{0.5cm}x_0=23$$

In [ ]:
tabla(32, 23, 17, 0, 31)

+-----------+----+
| Iteración | xn |
+-----------+----+
|     1     | 23 |
|     2     | 19 |
|     3     | 13 |
|     4     | 4  |
|     5     | 6  |
|     6     | 9  |
|     7     | 29 |
|     8     | 28 |
|     9     | 11 |
|     10    | 1  |
|     11    | 17 |
|     12    | 10 |
|     13    | 15 |
|     14    | 7  |
|     15    | 26 |
|     16    | 8  |
|     17    | 12 |
|     18    | 18 |
|     19    | 27 |
|     20    | 25 |
|     21    | 22 |
|     22    | 2  |
|     23    | 3  |
|     24    | 20 |
|     25    | 30 |
|     26    | 14 |
|     27    | 21 |
|     28    | 16 |
|     29    | 24 |
|     30    | 5  |
|     31    | 23 |
|     32    | 19 |
+-----------+----+

d) $$x_{j+1}=(121+x_j)mod(256)\hspace{0.5cm}con\hspace{0.5cm}x_0=17$$

In [ ]:
tabla(257, 17, 1, 121, 256)

+-----------+-----+
| Iteración |  xn |
+-----------+-----+
|     1     |  17 |
|     2     | 138 |
|     3     |  3  |
|     4     | 124 |
|     5     | 245 |
|     6     | 110 |
|     7     | 231 |
|     8     |  96 |
|     9     | 217 |
|     10    |  82 |
|     11    | 203 |
|     12    |  68 |
|     13    | 189 |
|     14    |  54 |
|     15    | 175 |
|     16    |  40 |
|     17    | 161 |
|     18    |  26 |
|     19    | 147 |
|     20    |  12 |
|     21    | 133 |
|     22    | 254 |
|     23    | 119 |
|     24    | 240 |
|     25    | 105 |
|     26    | 226 |
|     27    |  91 |
|     28    | 212 |
|     29    |  77 |
|     30    | 198 |
|     31    |  63 |
|     32    | 184 |
|     33    |  49 |
|     34    | 170 |
|     35    |  35 |
|     36    | 156 |
|     37    |  21 |
|     38    | 142 |
|     39    |  7  |
|     40    | 128 |
|     41    | 249 |
|     42    | 114 |
|     43    | 235 |
|     44    | 100 |
|     45    | 221 |
|     46    |  86 |
|     47    | 207 |
|     48    |  72 |
|     49    | 193 |
|     50    |  58 |
|     51    | 179 |
|     52    |  44 |
|     53    | 165 |
|     54    |  30 |
|     55    | 151 |
|     56    |  16 |
|     57    | 137 |
|     58    |  2  |
|     59    | 123 |
|     60    | 244 |
|     61    | 109 |
|     62    | 230 |
|     63    |  95 |
|     64    | 216 |
|     65    |  81 |
|     66    | 202 |
|     67    |  67 |
|     68    | 188 |
|     69    |  53 |
|     70    | 174 |
|     71    |  39 |
|     72    | 160 |
|     73    |  25 |
|     74    | 146 |
|     75    |  11 |
|     76    | 132 |
|     77    | 253 |
|     78    | 118 |
|     79    | 239 |
|     80    | 104 |
|     81    | 225 |
|     82    |  90 |
|     83    | 211 |
|     84    |  76 |
|     85    | 197 |
|     86    |  62 |
|     87    | 183 |
|     88    |  48 |
|     89    | 169 |
|     90    |  34 |
|     91    | 155 |
|     92    |  20 |
|     93    | 141 |
|     94    |  6  |
|     95    | 127 |
|     96    | 248 |
|     97    | 113 |
|     98    | 234 |
|     99    |  99 |
|    100    | 220 |
|    101    |  85 |
|    102    | 206 |
|    103    |  71 |
|    104    | 192 |
|    105    |  57 |
|    106    | 178 |
|    107    |  43 |
|    108    | 164 |
|    109    |  29 |
|    110    | 150 |
|    111    |  15 |
|    112    | 136 |
|    113    |  1  |
|    114    | 122 |
|    115    | 243 |
|    116    | 108 |
|    117    | 229 |
|    118    |  94 |
|    119    | 215 |
|    120    |  80 |
|    121    | 201 |
|    122    |  66 |
|    123    | 187 |
|    124    |  52 |
|    125    | 173 |
|    126    |  38 |
|    127    | 159 |
|    128    |  24 |
|    129    | 145 |
|    130    |  10 |
|    131    | 131 |
|    132    | 252 |
|    133    | 117 |
|    134    | 238 |
|    135    | 103 |
|    136    | 224 |
|    137    |  89 |
|    138    | 210 |
|    139    |  75 |
|    140    | 196 |
|    141    |  61 |
|    142    | 182 |
|    143    |  47 |
|    144    | 168 |
|    145    |  33 |
|    146    | 154 |
|    147    |  19 |
|    148    | 140 |
|    149    |  5  |
|    150    | 126 |
|    151    | 247 |
|    152    | 112 |
|    153    | 233 |
|    154    |  98 |
|    155    | 219 |
|    156    |  84 |
|    157    | 205 |
|    158    |  70 |
|    159    | 191 |
|    160    |  56 |
|    161    | 177 |
|    162    |  42 |
|    163    | 163 |
|    164    |  28 |
|    165    | 149 |
|    166    |  14 |
|    167    | 135 |
|    168    |  0  |
|    169    | 121 |
|    170    | 242 |
|    171    | 107 |
|    172    | 228 |
|    173    |  93 |
|    174    | 214 |
|    175    |  79 |
|    176    | 200 |
|    177    |  65 |
|    178    | 186 |
|    179    |  51 |
|    180    | 172 |
|    181    |  37 |
|    182    | 158 |
|    183    |  23 |
|    184    | 144 |
|    185    |  9  |
|    186    | 130 |
|    187    | 251 |
|    188    | 116 |
|    189    | 237 |
|    190    | 102 |
|    191    | 223 |
|    192    |  88 |
|    193    | 209 |
|    194    |  74 |
|    195    | 195 |
|    196    |  60 |
|    197    | 181 |
|    198    |  46 |
|    199    | 167 |
|    200    |  32 |
|    201    | 153 |
|    202    |  18 |
|    203    | 139 |
|    204    |  4  |
|    205    | 125 |
|    206    | 246 |
|    207    | 111 |
|    208    | 232 |
|    209    |  97 |
|    210    | 218 |
|    211    |  83 |
|    212    | 204 |
|    213    |  69 |
|    214    | 190 |
|    215    |  55 |
|    216    | 176 |
|    217    |  41 |
|    218    | 162 |
|    219    |  27 |
|    220    | 148 |
|    221    |  13 |
|    222    | 134 |
|    223    | 255 |
|    224    | 120 |
|    225    | 241 |
|    226    | 106 |
|    227    | 227 |
|    228    |  92 |
|    229    | 213 |
|    230    |  78 |
|    231    | 199 |
|    232    |  64 |
|    233    | 185 |
|    234    |  50 |
|    235    | 171 |
|    236    |  36 |
|    237    | 157 |
|    238    |  22 |
|    239    | 143 |
|    240    |  8  |
|    241    | 129 |
|    242    | 250 |
|    243    | 115 |
|    244    | 236 |
|    245    | 101 |
|    246    | 222 |
|    247    |  87 |
|    248    | 208 |
|    249    |  73 |
|    250    | 194 |
|    251    |  59 |
|    252    | 180 |
|    253    |  45 |
|    254    | 166 |
|    255    |  31 |
|    256    | 152 |
|    257    |  17 |
+-----------+-----+

e) $$x_{j+1}=(21x_j+15x_{j-1})mod(64)\hspace{0.5cm}con\hspace{0.5cm}x_0=21\hspace{0.5cm}y\hspace{0.5cm}x_1=43$$

In [ ]:
from prettytable import PrettyTable

def tabla(iteracion, x0, a, b, m, x1):
    t = PrettyTable(["Iteración", "xn"])
    xn = x1
    xj = x0
    funcion = lambda x0, x1: (a * x1 + b * x0) % m
    t.add_row([0, xj])
     #Creamos un diccionario para guardar los valores de xn y su numero de iteración
    valorv = {xj: 0}

    for i in range(1, iteracion + 1):
        xn1 = funcion(xj, xn)
        #Verificamos que el valor xn1 no se repita
        if xn1 in valorv:
            print(f"El valor {xn1} se repite en la iteración {i}")
            break

        t.add_row([i, xn1])
        valorv[xn1] = i
        xj = xn
        xn = xn1

    return t

tabla(200, 21, 21, 15, 64, 43)

El valor 2 se repite en la iteración 7

+-----------+----+
| Iteración | xn |
+-----------+----+
|     0     | 21 |
|     1     | 2  |
|     2     | 47 |
|     3     | 57 |
|     4     | 46 |
|     5     | 29 |
|     6     | 19 |
+-----------+----+

**2.- Escriba los pasos a seguir para realizar una prueba de bondad de ajuste $\chi^2$ para comprobar que una muestra de números aleatorios sigue una distribución uniforme.**


a) Formule la hipotesis nula y alternativa


b) Seleccione el nivel de significancia


c) Seleccione el estadistico de prueba


d) Formule la regla de decisión


e) Calcule el valor de $\chi^2_{n-1}$ y tome una decisión

**3.- Realice una prueba de bondad de ajuste con un nivel de aceptación del $95\%$.**

In [2]:
datos = [0.8797, 0.3884, 0.6289, 0.8750, 0.5999, 0.8589, 0.9996, 0.2415, 0.3808, 0.9606, 0.9848, 0.3469, 0.7977, 0.5844, 0.8147, 0.6431, 0.7387, 0.5613, 0.0318,
         0.7401, 0.4557, 0.1592, 0.8536, 0.8846, 0.3410, 0.1492, 0.8681, 0.5291, 0.3188, 0.5992, 0.9170, 0.2204, 0.5991, 0.5461, 0.5739, 0.3254, 0.0856, 0.2258,
         0.4603, 0.5027, 0.8376, 0.6235, 0.3681, 0.2088, 0.1525, 0.2006, 0.4720, 0.4272, 0.6360, 0.0954]

$H_0$: No hay diferencia entre frecuencias observadas y frecuencias esperadas.

$H_1$: Hay una diferencia entre las frecuencias

Para un nivel de significancia de 0.05.

El estadistico de prueba sigue la distribución
$$\chi^2_{n-1}=\sum\frac{(f_0-f_e)^2}{f_e}$$

In [7]:
from tabulate import tabulate

#Definimos los intervalos
intervalos = [(0, 0.2), (0.2, 0.4), (0.4, 0.6), (0.6, 0.8), (0.8, 1.0)]

#Iniciamos el contador para cada intervalo
conteo_intervalos = [0] * len(intervalos)

#Contamos cuantos datos caen en cada intervalo
for dato in datos:
    for i, (limite_inferior, limite_superior) in enumerate(intervalos):
        if limite_inferior <= dato < limite_superior:
            conteo_intervalos[i] += 1
            break

#Creamos la tabla con los resultados
tabla_resultados = []
for i, (lim_inf, lim_sup) in enumerate(intervalos):
    cantidad_datos = conteo_intervalos[i]
    resultado_operacion = ((cantidad_datos - 10) ** 2) / 10 if cantidad_datos != 0 else 0
    tabla_resultados.append([f'[{lim_inf}, {lim_sup})', cantidad_datos, 10, resultado_operacion])

print(tabulate(tabla_resultados, headers=['Clases', 'f_0', 'f_e', '(f_0-f_e)^2/f_e'], tablefmt='grid'))

+------------+-------+-------+-------------------+
| Clases     |   f_0 |   f_e |   (f_0-f_e)^2/f_e |
+============+=======+=======+===================+
| [0, 0.2)   |     6 |    10 |               1.6 |
+------------+-------+-------+-------------------+
| [0.2, 0.4) |    12 |    10 |               0.4 |
+------------+-------+-------+-------------------+
| [0.4, 0.6) |    13 |    10 |               0.9 |
+------------+-------+-------+-------------------+
| [0.6, 0.8) |     7 |    10 |               0.9 |
+------------+-------+-------+-------------------+
| [0.8, 1.0) |    12 |    10 |               0.4 |
+------------+-------+-------+-------------------+

El valor critico esta dado por
$$\chi_{n-1}^2$$
donde $n$ es el número de clases.

Por lo tanto, buscamos en la tabla de valores para la distribución $\chi_n^2$, el valor que tenga 4 grados de libertad y un área de cola derecha de 0.05, obteniendo como resultado 9.488.

Así, la regla de decisión nos dice que debemos rechazar $H_0$ si el valor calculado de $\chi_{n-1}^2>9.488$.

In [11]:
def chi(tabla):
    suma = 0
    for fila in tabla:
        suma += fila[3]
    return suma

total_suma = chi(tabla_resultados)

if total_suma > 9.488:
  print('Rechazar H_0')
else:
  print(f'{total_suma} < 9.488')
  print('No rechazar H_0')

4.2 < 9.488
No rechazar H_0

Por lo tanto, podemos decir que no hay diferencia entre frecuencias observadas y frecuencias esperadas.

**4.-Determine si la siguiente lista de 100 números de 2 dígitos tiene una distribución uniforme con un nivel de aceptación de $90\%$.**

$H_0$: Los números tienen una distribución uniforme.

$H_1$: No $H_0$

Para un nivel de significancia de 0.1.

In [16]:
archivo = [0.78, 0.98, 0.24, 0.73, 0.43, 0.16, 0.78, 0.47, 0.18, 0.55, 0.04, 0.29, 0.68, 0.77, 0.16, 0.03, 0.79, 0.22, 0.37, 0.80, 0.96, 0.26, 0.91, 0.55,
         0.75, 0.55, 0.64, 0.39, 0.53, 0.45, 0.61, 0.14, 0.38, 0.12, 0.40, 0.74, 0.78, 0.98, 0.27, 0.60, 0.43, 0.67, 0.62, 0.32, 0.53, 0.54, 0.24, 0.29,
         0.18, 0.08, 0.82, 0.94, 0.19, 0.98, 0.41, 1.00, 0.74, 0.92, 0.14, 0.43, 0.83, 0.88, 0.18, 0.21, 0.50, 0.13, 0.43, 0.69, 0.08, 0.12, 0.22, 0.50,
         0.16, 0.11, 0.18, 0.89, 0.80, 0.42, 0.29, 0.87, 0.83, 0.79, 0.65, 0.28, 0.78, 0.49, 0.36, 0.86, 0.87, 0.64, 0.51, 0.07, 0.18, 0.94, 0.50, 0.22,
         0.66, 0.91, 0.48, 0.24]

#Definimos los intervalos
intervalos = [(0, 0.3), (0.3, 0.6), (0.6, 0.9), (0.9, 1.2)]

# Iniciamos el contador para cada intervalo
conteo_intervalos = [0] * len(intervalos)

# Contamos cuántos datos caen en cada intervalo
for dato in archivo:
    for i, (limite_inferior, limite_superior) in enumerate(intervalos):
        if limite_inferior <= dato < limite_superior:
            conteo_intervalos[i] += 1
            break

# Creamos la tabla con los resultados
tabla_resultados = []
for i, (lim_inf, lim_sup) in enumerate(intervalos):
    cantidad_datos = conteo_intervalos[i]
    resultado_operacion = ((cantidad_datos - 25) ** 2) / 25 if cantidad_datos != 0 else 0
    tabla_resultados.append([f'[{lim_inf}, {lim_sup})', cantidad_datos, 25, resultado_operacion])

print(tabulate(tabla_resultados, headers=['Clases', 'f_0', 'f_e', '(f_0-f_e)^2/f_e'], tablefmt='grid'))

+------------+-------+-------+-------------------+
| Clases     |   f_0 |   f_e |   (f_0-f_e)^2/f_e |
+============+=======+=======+===================+
| [0, 0.3)   |    33 |    25 |              2.56 |
+------------+-------+-------+-------------------+
| [0.3, 0.6) |    26 |    25 |              0.04 |
+------------+-------+-------+-------------------+
| [0.6, 0.9) |    31 |    25 |              1.44 |
+------------+-------+-------+-------------------+
| [0.9, 1.2) |    10 |    25 |              9    |
+------------+-------+-------+-------------------+

Buscamos en la tabla de valores para la distribución $\chi_n^2$, el valor que tenga 3 grados de libertad y un área de cola derecha de 0.1, obteniendo como resultado 6.251.

In [18]:
def chi_1(tabla):
    suma = 0
    for fila in tabla:
        suma += fila[3]
    return suma

total_suma = chi_1(tabla_resultados)

if total_suma > 6.251:
  print(f'{total_suma} > 6.251')
  print('Rechazar H_0')
else:
  print(f'{total_suma} < 6.251')
  print('No rechazar H_0')

13.04 > 6.251
Rechazar H_0

Por lo tanto, los números de la lista no tienen una distribución uniforme.

**5.- Escriba en una Notebook de Jupyter un programa en Python que implemente la Prueba de Bondad de ajuste trabajada en este ejercicio.**

In [23]:
def calcular_intervalos_y_operaciones(datos, intervalos):
    #Inicializamos el contador para cada intervalo
    conteo_intervalos = [0] * len(intervalos)

    #Contamos cuántos datos caen en cada intervalo
    for dato in datos:
        for i, (limite_inferior, limite_superior) in enumerate(intervalos):
            if limite_inferior <= dato < limite_superior:
                conteo_intervalos[i] += 1
                break

    #Creamos la tabla con los resultados
    tabla_resultados = []
    for i, (lim_inf, lim_sup) in enumerate(intervalos):
        cantidad_datos = conteo_intervalos[i]
        resultado_operacion = ((cantidad_datos - n/num_intervalos) ** 2) / (n/num_intervalos) if cantidad_datos != 0 else 0
        tabla_resultados.append([f'[{lim_inf}, {lim_sup})', cantidad_datos, n/num_intervalos, resultado_operacion])

    return tabla_resultados

#Solicitamos el ingreso de los datos
datos = []
n = int(input("¿Cúantos datos desea ingresar?: "))
for i in range(n):
    dato = float(input(f"Ingrese el valor del dato {i + 1}: "))
    datos.append(dato)

#Solicitamos el número de intervalos y calculamos el paso para la tabla
num_intervalos = int(input("Ingrese el número de intervalos que desea: "))
min_dato = min(datos)
max_dato = max(datos)
paso = (max_dato - min_dato) / num_intervalos

#Definimos los intervalos
intervalos = [(min_dato + i * paso, min_dato + (i + 2) * paso) for i in range(num_intervalos)]

#Llamamos a la función para realizar los calculos con los datos ingresados
tabla_resultados = calcular_intervalos_y_operaciones(datos, intervalos)

print(tabulate(tabla_resultados, headers=['Clases', 'f_0', 'f_e', '(f_0-f_e)^2/f_e'], tablefmt='grid'))

Ingrese la cantidad de datos que desea ingresar: 12
Ingrese el valor del dato 1: 13
Ingrese el valor del dato 2: 41
Ingrese el valor del dato 3: 21
Ingrese el valor del dato 4: 17
Ingrese el valor del dato 5: 29
Ingrese el valor del dato 6: 57
Ingrese el valor del dato 7: 37
Ingrese el valor del dato 8: 33
Ingrese el valor del dato 9: 45
Ingrese el valor del dato 10: 9
Ingrese el valor del dato 11: 53
Ingrese el valor del dato 12: 49
Ingrese el número de intervalos que desea: 4
+--------------+-------+-------+-------------------+
| Clases       |   f_0 |   f_e |   (f_0-f_e)^2/f_e |
+==============+=======+=======+===================+
| [9.0, 33.0)  |     5 |     3 |           1.33333 |
+--------------+-------+-------+-------------------+
| [21.0, 45.0) |     3 |     3 |           0       |
+--------------+-------+-------+-------------------+
| [33.0, 57.0) |     3 |     3 |           0       |
+--------------+-------+-------+-------------------+
| [45.0, 69.0) |     1 |     3 |           1.33333 |
+--------------+-------+-------+-------------------+

In [26]:
def chi_1(tabla):
    suma = 0
    for fila in tabla:
        suma += fila[3]
    return suma

total_suma = chi_1(tabla_resultados)
chi_tabla = float(input("Ingesa el valor tabular de chi^2: "))

if total_suma > chi_tabla:
  print(f'{total_suma} > {chi_tabla}')
  print('Rechazar H_0')
else:
  print(f'{total_suma} < {chi_tabla}')
  print('No rechazar H_0')

Ingesa el valor tabular de chi^2: 6.251
2.6666666666666665 < 6.251
No rechazar H_0

**6.- Obtenga una muestra de números aleatorios usando el generador congruencial de ciclo de vida máxima del ejercicio 1) y aplique a tal muestra una Prueba $\chi^2$ para decidir si la muestra sigue una distribución uniforme o no. Comente el resultado.**

In [30]:
def tabla(iteraciones, x0, a, b, m):
    valores_xn = []
    xn = x0
    funcion = lambda x: (a * x + b) % m
    for _ in range(iteraciones):
        xn1 = funcion(xn)
        valores_xn.append(xn)
        xn = xn1

    return valores_xn

valores_xn = tabla(30, 21, 21, 15, 31)

[21, 22, 12, 19, 11, 29, 4, 6, 17, 0, 15, 20, 1, 5, 27, 24, 23, 2, 26, 3, 16, 10, 8, 28, 14, 30, 25, 13, 9, 18]

In [32]:
archivo = valores_xn
intervalos = [(0, 7), (7, 14), (14, 21), (21, 28), (28, 35)]

# Iniciamos el contador para cada intervalo
conteo_intervalos = [0] * len(intervalos)

# Contamos cuántos datos caen en cada intervalo
for dato in archivo:
    for i, (limite_inferior, limite_superior) in enumerate(intervalos):
        if limite_inferior <= dato < limite_superior:
            conteo_intervalos[i] += 1
            break

# Creamos la tabla con los resultados
tabla_resultados = []
for i, (lim_inf, lim_sup) in enumerate(intervalos):
    cantidad_datos = conteo_intervalos[i]
    resultado_operacion = ((cantidad_datos - 6) ** 2) / 6 if cantidad_datos != 0 else 0
    tabla_resultados.append([f'[{lim_inf}, {lim_sup})', cantidad_datos, 6, resultado_operacion])

print(tabulate(tabla_resultados, headers=['Clases', 'f_0', 'f_e', '(f_0-f_e)^2/f_e'], tablefmt='grid'))

+----------+-------+-------+-------------------+
| Clases   |   f_0 |   f_e |   (f_0-f_e)^2/f_e |
+==========+=======+=======+===================+
| [0, 7)   |     7 |     6 |          0.166667 |
+----------+-------+-------+-------------------+
| [7, 14)  |     6 |     6 |          0        |
+----------+-------+-------+-------------------+
| [14, 21) |     7 |     6 |          0.166667 |
+----------+-------+-------+-------------------+
| [21, 28) |     7 |     6 |          0.166667 |
+----------+-------+-------+-------------------+
| [28, 35) |     3 |     6 |          1.5      |
+----------+-------+-------+-------------------+

Suponemos un nivel de aceptacion del $90\%$, por lo que $\chi_{n-1}^2=7.779$

In [34]:
def chi_1(tabla):
    suma = 0
    for fila in tabla:
        suma += fila[3]
    return suma

total_suma = chi_1(tabla_resultados)

if total_suma > 7.779:
  print(f'{total_suma} > 7.779')
  print('Rechazar H_0')
else:
  print(f'{total_suma} < 7.779')
  print('No rechazar H_0')

2.0 < 7.779
No rechazar H_0

Por lo tanto, los números obtenidos de el generador congruencial de
ciclo de vida máxima del ejercicio 1.a si siguen una distribución uniforme.